name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v1
      - name: Setup Clojure
        uses: DeLaGuardo/setup-clojure@3.1
        with:
          cli: '1.10.1.739'
      - name: Run tests
        run: 'clojure -M:test'